*
{
	box-sizing: border-box;
	font-size: 19px;
}
h1
{
	margin-bottom: 15px;
	text-align: center;
	font-size: 1.75em;
	
}

.row
{
	width: 100%;
}

h2
{
	width:90px;
	height: auto;
	font-size: 1.25em;
	border: 1px solid black;
	
}

.col-lg-3, .col-md-6, .col-md-12, .col
{
	background-color:#D3D3D3;

}

.section
{
	background-color: #D3D3D3;
}

.chicken
{
	float: right;
	background-color: blue;
	
}

.beef
{
	float: right;
	background-color: blue;
}

.sushi
{
	float: right;
	background-color: blue;
	
}

p
{
	margin: 10px;
	float: left;
	box-sizing: border-box;
	text-align: center;	
	background-color: #D3D3D3;

}



@media (min-width: 992px)
{
	.col-lg-3
	{
		float: left;
		width: 32%;
		border: 1px solid black;
		margin:5px;

	}	
}

@media(min-width:768px) and (max-width: 991px)
{
	.col-md-6, .col-md-12
	{
		float:left;
		border: 1px solid black;

	}

	.col-md-6
	{
		width: 48%;
		margin:5px;

	}
	.col-md-12
	{
		width:100%;
		margin-top: 5px;
	}
}

